<header>
    <div class="top_bar">
        <a class="top_bar_logo" href="/">
            <div>
                <img src="/img/logo.png" alt="logo">
                <p>Tasks</p>
            </div>
        </a>
        <a href="/add" class="top_bar_logo">
            <div>
                <img src="/img/plus.png" class="plus_img">
                <p>Add Task</p>
            </div>
        </a>
    </div>
</header>