<!DOCTYPE html>
<html lang="en">
<%- include("partials/head", {title: "Task"}) %>
<body>
    <div class="wrapper">
        <%- include("partials/header")%>
        <main>
            <div class="main__container">
                <div class="main__list">
                    <% if (tasks.length !== 0) { %>
                        <% tasks.forEach(function(task, index) { %>
                            <%- include("partials/taskform", {
                                name: task.name,
                                info: task.info,
                                date: task.date,
                                task_status: task.task_status,
                                index: index
                            }) %>
                        <% }) %>
                    <% } else { %>
                        <h1 class="main__index-title">Please add task.</h1>
                    <% } %>
                </div>
            </div>       
        </main>
    </div>
</body>
</html>